.clients {
    padding: 100px 0;
    position: relative;
    &__container {
        position: relative;
    }
    &__body {
        position: relative;
    }
    &__title {
        margin: 0 0 40px; 
        padding: 0 15px;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20%;
        height: 120px;
        img {
            max-width: 100%;
            height: auto;
        }
    }
    @include tablet {
        &__item {
            width: 25%;
        }
    }
    @include gap {
        padding: 50px 0;
        &__item {
            flex-grow: 1;
            padding: 0 20px;
            width: auto;
            & + & {
                margin-left: 20px;
            }
        }
    }
    @include phone {
        &__title {
            margin-bottom: 20px;
        }
        &__item {
            width: 50% ;
            padding: 0;
            & + & {
                margin-left: 0;
            }
        }
    }
    @media (max-width: 456px) {
        &__item {
            width: 100%;
        }
    }
}