.contacts {
    background-image: url("../images/footer.png");
    background-position: center;
    background-size: cover;
    position: relative;
    &__container {
        position: relative;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    &__header {
        display: flex;
        align-items: center;
        padding: 0 20px;
    }
    &__logo {
        img {
            vertical-align: top;
        }
    }
    &__slogan {
        color: $grey2;
        font-size: 24px;
        line-height: 1.43;
        margin: 0 0 0 40px;
        span {
            border-right: 1px solid $red;
            display: inline-block;
            height: 24px;
            width: 0px;
            vertical-align: middle;
        }
    }
    &__body {
        padding: 100px 20px;
    }
    &__title {
        font-size: 48px;
        font-weight: 700;
        line-height: 1.167;
        text-transform: uppercase;
    }
    &__links {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 32px;
        font-weight: 600;
        line-height: 1.1875;
        margin: 40px 0 0;
    }
    &__phone {
        color: $red
    }
    @include gap {
        &__title {
            font-size: 32px;
        }
        &__slogan {
            font-size: 18px;
            margin: 0 0 0 20px
        }
        &__body {
            padding-top: 60px;
            padding-bottom: 60px;
        }
        &__links {
            font-size: 24px;
        }
    }
    @include phone {
        &__container {
            padding-top: 30px;
            padding-bottom: 30px;
        }
        &__header {
            flex-wrap: wrap;
        }
        &__slogan {
            margin: 10px 0 0;
            flex-basis: 100%;
        }
        &__links {
            margin-top: 25px;
        }
    }
}