.feedback {
    padding: 120px 0;
    &__subtitle {
        color: $grey2;
        font-size: 20px;
        line-height: 1.6;
        margin: 10px 0 0;
        text-align: center;
    }
    &__body {
        margin: 40px 0 0
    }
    &__form {
        & + & {
            margin: 60px 0 0
        }
    }
    &__agreement {
        display: block;
        color: $grey2;
        font-size: 16px;
        line-height: 1.6;
        margin: 40px 0 0;
        text-align: center;
    }
    @include gap {
        padding: 50px 0;
    }
}