.footer {
    &__container {
        position: relative;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        color: $grey2;
        font-size: 16px;
        line-height: 1.25;
        padding: 20px;
    }
    &__aacent-logo {
        display: flex;
        align-items: center;
        gap: 8px;
    }
    @include gap {
        &__content {
            flex-direction: column;
            gap: 20px
        }
    }
}