section.advantages 
    .container 
        .title Почему#[br]#[span._aacent выбирают нас?]
        .advantages__body 
            ul.advantages__list 
                .advantage-item.advantages__list-item
                    .advantage-item__icon 
                        img(src="./images/advantage-01.png", alt="advantage icon")
                    h3.advantage-item__title._border-hightlight Профессиональный дизайн
                    .advantage-item__desc 
                        | Наши стенды привлекают всеобщее внимание, потому что за разработку отвечают профессионалы – опытные дизайнеры-архитекторы. Они органично скомпонуют элементы корпоративного стиля, информационный месседж, изображения продуктов 
                        | с учетом особенностей восприятия информации, учтут технические особенности, ограничения выставочных площадок и требования организаторов
                .advantage-item.advantages__list-item
                    .advantage-item__icon 
                        img(src="./images/advantage-02.png", alt="advantage icon")
                    h3.advantage-item__title._border-hightlight Проектирование с нуля
                    .advantage-item__desc
                        | Мы берем на себя все заботы, связанные 
                        | с проектированием стенда — разрабатываем полный пакет документации, полностью соответствующей требованиям выставочных площадок. Готовые чертежи детализированы 
                        | и предусматривают продуманный функционал, скрупулезный подбор материалов и решение всех задач, поставленных перед нами заказчиком.
                .advantage-item.advantages__list-item
                    .advantage-item__icon 
                        img(src="./images/advantage-03.png", alt="advantage icon")
                    h3.advantage-item__title._border-hightlight Собственное производство 
                    .advantage-item__desc
                        | Широкий выбор материалов, инновационные технологии производства стендов 
                        | и оборудование ведущих мировых брендов –    
                        | в распоряжении нашей команды есть слагаемые, необходимые для создания стенда в точном соответствии с бизнес-задачами заказчиков.
                .advantage-item.advantages__list-item
                    .advantage-item__icon 
                        img(src="./images/advantage-04.png", alt="advantage icon")
                    h3.advantage-item__title._border-hightlight Работа под ключ и контроль качества
                    .advantage-item__desc 
                        | Наше конкурентное преимущество – комплексный подход. Мы контролируем качество на каждом этапе, а особенно на этапе монтажа.  Для этого к работе привлекается собственная логистическая служба, монтажные бригады, электрики, оформительские подразделения.
            span.line.line_vertical.line_vertical_start
            span.line.line_vertical.line_vertical_middle
            span.line.line_vertical.line_vertical_end