section.contacts 
    .contacts__container.container 
        .contacts__header
            a.contacts__logo(href="#")
                img(src="./images/logo.svg" alt="logo")
            .contacts__slogan
                | ImTech #[span] Impression technology — Производим впечатления! 
        .contacts__body 
            h4.contacts__title Контакты
            .contacts__links
                span.contacts__address Казань, ул. Петра Витера, 7
                a.contacts__phone(href="tel:+79172377232") +7 917 237 72 32
                a.contacts__email(href="mailto:hunter@expohunters.ru") hunter@expohunters.ru
        span.cross.cross_top_left 
        span.cross.cross_top_right
        span.line.line_vertical.line_vertical_start
        span.line.line_vertical.line_vertical_end
    span.line.line_horizontal.line_horizontal_start
    span.line.line_horizontal.line_horizontal_end