section.hero 
    .hero__container.container
        .hero__content
            h1.hero__title Изготовление эксклюзивных выставочных стендов #[span._aacent «Под ключ»]
            .hero__services
                ul.hero__services-list
                    li.hero__service-item Дизайн
                    li.hero__service-item Проект
                    li.hero__service-item Изготовление
                    li.hero__service-item Монтаж
                span.line.line_horizontal.line_horizontal_start.hero__line_horizontal
                span.line.line_horizontal.line_horizontal_end.hero__line_horizontal
                span.cross.cross_top_right
                span.cross.cross_bottom_right
            p.hero__desc._border-hightlight Решение нестандартных дизайнерских задач в короткие сроки с высоким качеством
            a.hero__link.button.button_filled(href="#") Подать заявку
        span.line.line_vertical.line_vertical_start.hero__line_vertical
        span.line.line_vertical.line_vertical_middle.hero__line_vertical
        span.line.line_vertical.line_vertical_end.hero__line_vertical
        span.cross.cross_bottom_left.hero__cross
        span.cross.cross_bottom_right.hero__cross
        .hero__scroll-down 
            svg(xmlns='http://www.w3.org/2000/svg' width='13' height='25' viewBox='0 0 13 25' fill='none')
                path(d='M0 0L12.5 12.5L1.09278e-06 25L7.64949e-07 17.5L5 12.5L3.27835e-07 7.5L0 0Z' fill='#E3000F')
            svg(xmlns='http://www.w3.org/2000/svg' width='13' height='25' viewBox='0 0 13 25' fill='none')
                path(d='M0 0L12.5 12.5L1.09278e-06 25L7.64949e-07 17.5L5 12.5L3.27835e-07 7.5L0 0Z' fill='#E3000F')