section.stats 
    .container 
        .stats__content 
            ul.stats__list 
                li.stat-item
                    .stat-item__content
                        .stat-item__number 10+
                        .stat-item__index лет на рынке
                li.stat-item
                    .stat-item__content
                        .stat-item__number 15+
                        .stat-item__index специалистов
                li.stat-item
                    .stat-item__content
                        .stat-item__number 100+
                        .stat-item__index реализованных#[br]проектов
                li.stat-item
                    .stat-item__content
                        .stat-item__number 600+
                        .stat-item__index м#[sup 2] собственного#[br]производства
            span.line.line_horizontal.line_horizontal_middle
        .stats__logo-container 
            .stats__logo 
                img(src="./images/logo-icon.svg", alt="")
            span.line.line_horizontal.line_horizontal_middle
            span.line.line_vertical.line_vertical_middle
        span.line.line_vertical.line_vertical_start
        span.line.line_vertical.line_vertical_middle
        span.line.line_vertical.line_vertical_end
        span.cross.cross_top_left
        span.cross.cross_top_right 
        span.cross.cross_bottom_right
        span.cross.cross_bottom_left
    span.line.line_horizontal.line_horizontal_start
    span.line.line_horizontal.line_horizontal_end
    