section.steps 
    .steps__container.container
        .steps__title.title <span class="_aacent">6 простых шагов</span><br>к вашему успеху на выставке
        .steps__body  
            .steps__row
                .steps__item.step 
                    .step__wrapper
                        .step__title Подготовка технического задания
                        .step__number 01
                    .step__desc Персональный менеджер поможет вам сформулировать цели и задачи, после чего составит ТЗ для дизайнера
                .steps__item.step 
                    .step__wrapper
                        .step__title Создание<br>макета
                        .step__number 02
                    .step__desc Дизайнер разрабатывает макет на основе ТЗ и оговоренного бюджета с последующей доработкой по вашему желанию.
                    span.cross.cross_top_left
                    span.cross.cross_bottom_right
                .steps__item.step 
                    .step__wrapper
                        .step__title Подготовка<br>предложения
                        .step__number 03
                    .step__desc Рассчитываем финальную стоимость реализации проекта и фиксируем ее. Будьте уверены — стоимость работы не изменится!
                    span.cross.cross_top_left
                    span.cross.cross_bottom_right
                .steps__item.step 
                    .step__wrapper
                        .step__title Подписание<br>договора
                        .step__number 04
                    .step__desc Все условия сотрудничества,  прописываются в договоре, который станет надежной защитой ваших денежных средств.
                    span.cross.cross_top_left
                    span.cross.cross_bottom_right
                .steps__item.step 
                    .step__wrapper
                        .step__title Застройка<br>стенда
                        .step__number 05
                    .step__desc Изготавливаем полный комплект элементов будущего стенда. Работаем с соблюдением сроков и стандартов качества.
                    span.cross.cross_top_left
                    span.cross.cross_bottom_right
                .steps__item.step 
                    .step__wrapper
                        .step__title Монтаж,<br>демонтаж
                        .step__number 06
                    .step__desc Выполняем транспортировку стенда к месту проведения выставки, монтируем и декорируем. После выставки демонтируем стенд
                    span.cross.cross_top_left
                    span.cross.cross_bottom_right
                //- .steps__item.step 
                //-     .step__wrapper
                //-         .step__title Подготовка предложения
                //-         .step__number 07
                //-     .step__desc Рассчитываем финальную стоимость реализации проекта и фиксируем ее. Будьте уверены — стоимость работы не изменится!
                //-     span.cross.cross_top_left
                //-     span.cross.cross_bottom_right
                //- .steps__item.step 
                //-     .step__wrapper
                //-         .step__title Подписание договора
                //-         .step__number 08
                //-     .step__desc Все условия сотрудничества,  прописываются в договоре, который станет надежной защитой ваших денежных средств.
                //-     span.cross.cross_top_left
                //-     span.cross.cross_bottom_right
                //- .steps__item.step 
                //-     .step__wrapper
                //-         .step__title Застройка стенда
                //-         .step__number 09
                //-     .step__desc Изготавливаем полный комплект элементов будущего стенда. Работаем с соблюдением сроков и стандартов качества.
                //-     span.cross.cross_top_left
                //-     span.cross.cross_bottom_right
        span.line.line_vertical.line_vertical_start
        span.line.line_vertical.line_vertical_end
        span.cross.cross_bottom_left
        span.cross.cross_bottom_right
    span.line.line_horizontal.line_horizontal_end
