section.works
    .container 
        .works__title.title #[span._aacent Наши работы]#[br]говорят сами за себя
        .works__body.swiper 
            .works__list.swiper-wrapper 
                .work-item.swiper-slide(data-work-id="gto")
                    .work-item__wrapper 
                        span.work-item__label 32 M#[sup 2]
                        img.work-item__img(src="./images/work.png", alt="work")
                        .work-item__content
                            span.work-item__date 24.10.2022
                            h4.work-item__title Проект стенда «90 ГТО» Реклама 2022
                            .work-item__text-wrapper
                                p.work-item__text
                                    | Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержим
                    .work-item__gradient.work-item__gradient_black
                    .work-item__gradient.work-item__gradient_red
                .work-item.swiper-slide
                    .work-item__wrapper 
                        span.work-item__label 32 M#[sup 2]
                        img.work-item__img(src="./images/work.png", alt="work")
                        .work-item__content
                            span.work-item__date 24.10.2022
                            h4.work-item__title Проект стенда «Сбер» Реклама 2022
                            .work-item__text-wrapper
                                p.work-item__text
                                    | Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержим
                    .work-item__gradient.work-item__gradient_black
                    .work-item__gradient.work-item__gradient_red
                .work-item.swiper-slide
                    .work-item__wrapper 
                        span.work-item__label 32 M#[sup 2]
                        img.work-item__img(src="./images/work.png", alt="work")
                        .work-item__content
                            span.work-item__date 24.10.2022
                            h4.work-item__title Проект стенда «Азимут прогресс» Реклама 2022
                            .work-item__text-wrapper
                                p.work-item__text
                                    | Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержим
                    .work-item__gradient.work-item__gradient_black
                    .work-item__gradient.work-item__gradient_red
                .work-item.swiper-slide
                    .work-item__wrapper 
                        span.work-item__label 32 M#[sup 2]
                        img.work-item__img(src="./images/work.png", alt="work")
                        .work-item__content
                            span.work-item__date 24.10.2022
                            h4.work-item__title Проект стенда «АББ Халяль» Реклама 2022
                            .work-item__text-wrapper
                                p.work-item__text
                                    | Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержим
                    .work-item__gradient.work-item__gradient_black
                    .work-item__gradient.work-item__gradient_red
                .work-item.swiper-slide
                    .work-item__wrapper 
                        span.work-item__label 32 M#[sup 2]
                        img.work-item__img(src="./images/work.png", alt="work")
                        .work-item__content
                            span.work-item__date 24.10.2022
                            h4.work-item__title Проект стенда «АБ Капитал» Реклама 2022
                            .work-item__text-wrapper
                                p.work-item__text
                                    | Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержим
                    .work-item__gradient.work-item__gradient_black
                    .work-item__gradient.work-item__gradient_red
                .work-item.swiper-slide
                    .work-item__wrapper 
                        span.work-item__label 32 M#[sup 2]
                        img.work-item__img(src="./images/work.png", alt="work")
                        .work-item__content
                            span.work-item__date 24.10.2022
                            h4.work-item__title Проект стенда «Асфалайт» Реклама 2022
                            .work-item__text-wrapper
                                p.work-item__text
                                    | Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержим
                    .work-item__gradient.work-item__gradient_black
                    .work-item__gradient.work-item__gradient_red
                .work-item.swiper-slide 
                    .work-item__wrapper
                        span.work-item__label 32 M#[sup 2]
                        img.work-item__img(src="./images/work.png", alt="work")
                        .work-item__content
                            span.work-item__date 24.10.2022
                            h4.work-item__title Проект стенда «Бицерба» Реклама 2022
                            .work-item__text-wrapper
                                p.work-item__text
                                    | Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержим
                    .work-item__gradient.work-item__gradient_black
                    .work-item__gradient.work-item__gradient_red
                .work-item.swiper-slide
                    .work-item__wrapper 
                        span.work-item__label 32 M#[sup 2]
                        img.work-item__img(src="./images/work.png", alt="work")
                        .work-item__content
                            span.work-item__date 24.10.2022
                            h4.work-item__title Проект стенда «Ниинефтепромхим» Реклама 2022
                            .work-item__text-wrapper
                                p.work-item__text
                                    | Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержим
                    .work-item__gradient.work-item__gradient_black
                    .work-item__gradient.work-item__gradient_red
                .work-item.swiper-slide
                    .work-item__wrapper 
                        span.work-item__label 32 M#[sup 2]
                        img.work-item__img(src="./images/work.png", alt="work")
                        .work-item__content
                            span.work-item__date 24.10.2022
                            h4.work-item__title Проект стенда «Дорнадзор» Реклама 2022
                            .work-item__text-wrapper
                                p.work-item__text
                                    | Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержим
                    .work-item__gradient.work-item__gradient_black
                    .work-item__gradient.work-item__gradient_red
                .work-item.swiper-slide
                    .work-item__wrapper 
                        span.work-item__label 32 M#[sup 2]
                        img.work-item__img(src="./images/work.png", alt="work")
                        .work-item__content
                            span.work-item__date 24.10.2022
                            h4.work-item__title Проект стенда «Мир Бизнесс Банк» Реклама 2022
                            .work-item__text-wrapper
                                p.work-item__text
                                    | Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержим
                    .work-item__gradient.work-item__gradient_black
                    .work-item__gradient.work-item__gradient_red
                .work-item.swiper-slide
                    .work-item__wrapper 
                        span.work-item__label 32 M#[sup 2]
                        img.work-item__img(src="./images/work.png", alt="work")
                        .work-item__content
                            span.work-item__date 24.10.2022
                            h4.work-item__title Проект стенда «НСМ» Реклама 2022
                            .work-item__text-wrapper
                                p.work-item__text
                                    | Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержим
                    .work-item__gradient.work-item__gradient_black
                    .work-item__gradient.work-item__gradient_red
                .work-item.swiper-slide
                    .work-item__wrapper 
                        span.work-item__label 32 M#[sup 2]
                        img.work-item__img(src="./images/work.png", alt="work")
                        .work-item__content
                            span.work-item__date 24.10.2022
                            h4.work-item__title Проект стенда «Таграс» Реклама 2022
                            .work-item__text-wrapper
                                p.work-item__text
                                    | Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержим
                    .work-item__gradient.work-item__gradient_black
                    .work-item__gradient.work-item__gradient_red
                .work-item.swiper-slide
                    .work-item__wrapper 
                        span.work-item__label 32 M#[sup 2]
                        img.work-item__img(src="./images/work.png", alt="work")
                        .work-item__content
                            span.work-item__date 24.10.2022
                            h4.work-item__title Проект стенда «Казань-Телематика» Реклама 2022
                            .work-item__text-wrapper
                                p.work-item__text
                                    | Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержим
                    .work-item__gradient.work-item__gradient_black
                    .work-item__gradient.work-item__gradient_red
                .work-item.swiper-slide
                    .work-item__wrapper 
                        span.work-item__label 32 M#[sup 2]
                        img.work-item__img(src="./images/work.png", alt="work")
                        .work-item__content
                            span.work-item__date 24.10.2022
                            h4.work-item__title Проект стенда «Тук-тук» Реклама 2022
                            .work-item__text-wrapper
                                p.work-item__text
                                    | Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержим
                    .work-item__gradient.work-item__gradient_black
                    .work-item__gradient.work-item__gradient_red
                .work-item.swiper-slide
                    .work-item__wrapper 
                        span.work-item__label 32 M#[sup 2]
                        img.work-item__img(src="./images/work.png", alt="work")
                        .work-item__content
                            span.work-item__date 24.10.2022
                            h4.work-item__title Проект стенда «Made in Uzbekistan» Реклама 2022
                            .work-item__text-wrapper
                                p.work-item__text
                                    | Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержим
                    .work-item__gradient.work-item__gradient_black
                    .work-item__gradient.work-item__gradient_red
                .work-item.swiper-slide
                    .work-item__wrapper 
                        span.work-item__label 32 M#[sup 2]
                        img.work-item__img(src="./images/work.png", alt="work")
                        .work-item__content
                            span.work-item__date 24.10.2022
                            h4.work-item__title Проект стенда «ЧЗГК» Реклама 2022
                            .work-item__text-wrapper
                                p.work-item__text
                                    | Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержим
                    .work-item__gradient.work-item__gradient_black
                    .work-item__gradient.work-item__gradient_red
            .swiper-controls 
                button.swiper-show-more.button.button_filled(type="button") Посмотреть все
                .swiper-pagination 
                .swiper-buttons-container
                    .swiper-button-prev 
                        svg(xmlns='http://www.w3.org/2000/svg' width='13' height='25' viewBox='0 0 13 25' fill='none')
                            path(d='M0 0L12.5 12.5L1.09278e-06 25L7.64949e-07 17.5L5 12.5L3.27835e-07 7.5L0 0Z' fill='#E3000F')
                    .swiper-button-next
                        svg(xmlns='http://www.w3.org/2000/svg' width='13' height='25' viewBox='0 0 13 25' fill='none')
                            path(d='M0 0L12.5 12.5L1.09278e-06 25L7.64949e-07 17.5L5 12.5L3.27835e-07 7.5L0 0Z' fill='#E3000F')
        .works__popups-container
            .works__popup.popup.popup_gto
                .popup__container 
                    .popup__content 
                        .popup__close 
                        .work-overview
                            .work-overview__title #[span._aacent Проект стенда «90 ГТО»] Реклама 2022
                            .work-overview__gallery.swiper 
                                .swiper-wrapper 
                                    .swiper-slide.work-overview__image 
                                        .work-overview__image-wrapper 
                                            img(src="./images/work.png", alt="work")
                                    .swiper-slide.work-overview__image 
                                        .work-overview__image-wrapper 
                                            img(src="./images/work.png", alt="work")
                                    .swiper-slide.work-overview__image 
                                        .work-overview__image-wrapper 
                                            img(src="./images/work.png", alt="work")
                                    .swiper-slide.work-overview__image 
                                        .work-overview__image-wrapper 
                                            img(src="./images/work.png", alt="work")
                                .swiper-button-prev 
                                    svg(xmlns='http://www.w3.org/2000/svg' width='13' height='25' viewBox='0 0 13 25' fill='none')
                                        path(d='M0 0L12.5 12.5L1.09278e-06 25L7.64949e-07 17.5L5 12.5L3.27835e-07 7.5L0 0Z' fill='#E3000F')
                                .swiper-button-next
                                    svg(xmlns='http://www.w3.org/2000/svg' width='13' height='25' viewBox='0 0 13 25' fill='none')
                                        path(d='M0 0L12.5 12.5L1.09278e-06 25L7.64949e-07 17.5L5 12.5L3.27835e-07 7.5L0 0Z' fill='#E3000F')
                            .work-overview__desc
                                | Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержим. Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержим. Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержим
                    .works__popup-backdrop.works__popup-backdrop_left
                    .works__popup-backdrop.works__popup-backdrop_right