@font-face {
    font-family: "Roboto";
    font-style: normal; 
    font-weight: 300;
    src: local("Roboto"), url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff")
}

@font-face {
    font-family: "Roboto";
    font-style: normal; 
    font-weight: 400;
    src: local("Roboto"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff")
}

@font-face {
    font-family: "Roboto";
    font-style: normal; 
    font-weight: 700;
    src: local("Roboto"), url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff")
}

@font-face {
    font-family: "Unbounded";
    font-style: normal; 
    font-weight: 700;
    src: local("Unbounded"), url("../fonts/Unbounded-Bold.woff2") format("woff2"), url("../fonts/Unbounded-Bold.woff") format("woff")
}

@font-face {
    font-family: "Bebas Neue";
    font-style: normal; 
    font-weight: 400;
    src: local("Bebas Neue"), url("../fonts/BebasNeue-Regular.woff2") format("woff2"), url("../fonts/BebasNeue-Regular.woff") format("woff")
}
