extends templates/layout

block head
    title IP Morozov 
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css")
    link(rel="stylesheet", href="css/style.min.css")
block content 
    include includes/hero.pug
    include includes/advantages.pug
    include includes/stats.pug
    include includes/works.pug
    include includes/clients.pug
    include includes/steps.pug
    include includes/map.pug
    include includes/feedback.pug
    include includes/contacts.pug
block scripts 
    script(src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js")
    script(src="js/app.min.js") 